<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <link rel="icon" type="image/svg+xml" href="{{ 'logo.svg' | asset_url }}">

    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'component-button.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'section-ourRackets.js' | asset_url }}" defer="defer"></script>

    <title>{{ page_title }}</title>

    {{ content_for_header }}
  </head>
  <body>
    {% section 'header' %}

    <main>
      {{ content_for_layout }}
    </main>
  </body>
</html>
