{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <div class="footer--container container">
    <div class="footer--content">
      <nav class="footer--menu" role="navigation">
        <ul role="list">
          {% for link in linklists['main-menu'].links %}
            <li class="{% if link.active %}active{% endif %}">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <ul class="footer--social-media" role="list">
        <li>
          <a href="#"><img src="{{ 'icon-linkedin.svg' | asset_url }}" alt="Linkedin" loading="lazy"></a>
        </li>
        <li>
          <a href="#"><img src="{{ 'icon-vimeo.svg' | asset_url }}" alt="Vimeo" loading="lazy"></a>
        </li>
        <li>
          <a href="#"><img src="{{ 'icon-instagram.svg' | asset_url }}" alt="Instagram" loading="lazy"></a>
        </li>
        <li>
          <a href="#"><img src="{{ 'icon-twitter.svg' | asset_url }}" alt="Twitter/X" loading="lazy"></a>
        </li>
        <li>
          <a href="#"><img src="{{ 'icon-facebook.svg' | asset_url }}" alt="Facebook" loading="lazy"></a>
        </li>
      </ul>
    </div>
    <img src="{{ 'logo.svg' | asset_url }}" class="footer--logo" alt="Logo">
  </div>
</footer>
