<header class="header">
  <a href="/" class="header--logo">
    <img src="{{ 'logo.svg' | asset_url }}" class="header--logo-image" alt="Empresa" width="37px" height="37px">
    <span class="header--line"></span>
  </a>
  <button class="header--menu-button" id="menu-button">
    <img src="{{ 'icon-hamburger.svg' | asset_url }}" alt="menú" width="32px" height="32px">
  </button>
  <div class="header--menu-container container" id="menu">
    <nav class="header--main-menu">
      <ul>
        {% for link in linklists['main-menu'].links %}
          <li class="{% if link.active %}active{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <ul class="header--lang-menu">
      <li class="active">
        <a href="#">Es</a>
      </li>
      <li>
        <a href="#">En</a>
      </li>
    </ul>
  </div>
</header>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}
