{{ 'section-our-rackets.css' | asset_url | stylesheet_tag }}

{% style %}
  .our-rackets--controls {
    background-image: url({{'ball-color.jpg'|asset_url}});
    background-size: cover;
  }
{% endstyle %}

<section class="our-rackets">
  <div class="our-rackets--controls">
    <div class="our-rackets--controls-content">
      <h3>Nuestras <b>Raquetas</b></h3>
      <p>Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.</p>
      <ul class="our-rackets--controls-dots" id="controls-dots">
        {%- for product in collections.all.products %}
          <li></li>
        {%- endfor %}
      </ul>
      <div class="our-rackets--controls-buttons">
        <button id="button-previous" class="disabled" disabled aria-label="Anterior">
          <img src="{{ 'icon-arrow.svg' | asset_url }}" alt="Anterior" loading="lazy">
        </button>
        <button id="button-next" aria-label="Siguiente">
          <img src="{{ 'icon-arrow.svg' | asset_url }}" alt="Siguiente" loading="lazy">
        </button>
      </div>
    </div>
  </div>
  <div class="our-rackets--items">
    <ul id="our-rackets--items" role="list">
      {%- for product in collections.all.products %}
        <li class="our-rackets--item">
          <span class="our-rackets--item-index">{{ forloop.index }}</span>
          <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" loading="lazy">
        </li>
      {%- endfor %}
    </ul>
  </div>
</section>
