{{ 'our-rackets.css' | asset_url | stylesheet_tag }}

{% style %}
  .our-rackets--controls {
    background-image: url({{'ball-color.jpg'|asset_url}});
    background-size: cover;
  }
{% endstyle %}

<section class="our-rackets">
  <div class="our-rackets--controls">
    <div class="our-rackets--controls-content">
      <h3>Nuestras <b>Raquetas</b></h3>
      <p>Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.</p>
      <ul class="our-rackets--controls-dots">
        {%- for product in collections.all.products %}
          <li class="{%- if forloop.index == 1  %} active {%- endif  %}"></li>
        {%- endfor %}
      </ul>
      <div class="our-rackets--controls-buttons">
        <button class="disabled">
          <img src="{{ 'arrow.svg' | asset_url }}" alt="Anterior">
        </button>
        <button>
          <img src="{{ 'arrow.svg' | asset_url }}" alt="Siguiente">
        </button>
      </div>
    </div>
  </div>
  <div class="our-rackets--items">
    <ul>
      {%- for product in collections.all.products %}
        <li class="our-rackets--item">
          <span class="our-rackets--item-index">{{ forloop.index }}</span>
          <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
        </li>
      {%- endfor %}
    </ul>
  </div>
</section>
